<h1>Stupid Coaching</h1>
<h2>Ask your coach anything</h2>
<form action="/answer" class="question-form">
  <input type="text" name="question">
  <input class='btn btn-primary' type="submit" value="Ask!">
</form>
