// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my-form {
  margin-left: 15px
}

body {
  margin: 15px;
  margin-left: 40px;
}


html * {
  margin: 20px;
}
